.header-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 6rem;

    background-color: var(--white);
}

.header-content-container-contrast {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 6rem;

    background-color: var(--black);
}

/* menu */
.header-content-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;

    font-size: 1rem;
}
.header-content-menu-contrast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;

    font-size: 1rem;
}
/* menu links */
.header-content-menu-link {
    color: var(--mainblue);
    text-decoration: none;
}

.header-content-menu-link:visited {
    color: var(--mainblue);
}

.header-content-menu-link:hover {
    color: var(--red);
}

.header-content-menu-link-contrast {
    color: var(--contrastyellow);
    text-decoration: none;

    padding: 0.3rem;
}

.header-content-menu-link-contrast:visited {
    color: var(--contrastyellow);
}

.header-content-menu-link-contrast:hover {
    color: var(--contrastyellow);
    border: 0.2rem solid var(--contrastyellow);
}

/* dropdown-sub menu */
.header-content-sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    position: absolute;
    overflow: hidden;
    margin-top: 2rem;
    background-color: var(--white);

    width: 16rem;
    height: 20rem;

    border-top: 0.2rem solid var(--lightblue);
}

.header-content-sub-menu a {
    color: var(--black);
    text-decoration: none;
    opacity: 0.6;
}

.header-content-sub-menu a:hover {
    color: var(--black);
    text-decoration: none;
    opacity: 1;
}

.header-content-sub-menu-contrast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    position: absolute;
    overflow: hidden;
    margin-top: 2rem;
    background-color: var(--contrastyellow);

    width: 23rem;
    height: 20rem;

    border-top: 0.2rem solid var(--contrastyellow);
}

.header-content-sub-menu-contrast a {
    color: var(--black);
    text-decoration: none;

    padding:0.3rem;
    margin-right: 2rem;
}

.header-content-sub-menu-contrast a:hover {
    color: var(--black);
    text-decoration: none;

    border: 0.2rem solid var(--black);
}

/* Salva Vita logo*/
#salva-logo {
    width: 3.5rem;
    height: 3.5rem;

    margin-left: 5rem;
}

#salva-logo-contrast {
    width: 3.5rem;
    height: 3.5rem;

    margin-left: 5rem;
    visibility: hidden;
}