.link-page-content-container {
    display: flex;
    flex-direction: column;
}

/* parting line */
.parting-line {
    border-top: 0.1rem solid var(--black);
    margin-top: 10rem;
    margin-left: 5%;

    width: 90%;
}
.parting-line-contrast {
    border-top: 0.1rem solid var(--contrastyellow);
    margin-top: 10rem;
    margin-left: 5%;

    width: 90%;
}

/* form */
.link-page-form {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 20rem;

    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* form content incuding only inputs */
.link-page-form-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 50%;

    margin: 5%;
}
.link-page-form-label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.link-page-form-label-contrast {
    display: flex;
    flex-direction: column;

    font-size: 1.5rem;
    color: var(--contrastyellow);
}
.link-page-form-input {
    font-size: 1.2rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    height: 2rem;

    border: none;
    border-bottom: 0.2rem solid var(--black);
    border-radius: 0.2rem;
    box-shadow: 0.6rem 0.6rem 0.3rem var(--lightgrey);
}
.link-page-form-input-contrast {
        font-size: 1.2rem;
        color: var(--black);
        
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 30rem;
        height: 2rem;

        background-color: var(--contrastyellow);
    
        border: none;
        border-radius: 0.2rem;
}
.link-page-form-input-contrast::placeholder {
    color: var(--black);
}

/* form content including only select menus and form button */
.link-page-form-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 50%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

    font-size: 1.5rem;
}
.link-page-form-content-right-contrast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 50%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

    font-size: 1.5rem;
    color: var(--contrastyellow);
}
.link-page-form-content-right p {
    font-size: 1.2rem;
}
.link-page-form-content-right-contrast p {
    font-size: 1.2rem;
    color: var(--contrastyellow);
}
.link-page-form-select-menu {
    font-size: 1.2rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 2rem;

    border-radius: 0.2rem;

    background-color: var(--orange);
}
.link-page-form-select-menu-contrast {
    font-size: 1.2rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 2rem;

    border-radius: 0.2rem;

    background-color: var(--contrastyellow);
}

/* form button */
#link-page-form-btn {
    width: 100%;
    height: 2rem;
    
    border: none;
    background-color: var(--orange);
    border-radius: 0.2rem;

    color: var(--black);
    font-weight: bold;
    font-size: 1.2rem;
}
#link-page-form-btn:hover {
    border: 0.2rem solid var(--black);
}
#link-page-form-btn-contrast {
    width: 100%;
    height: 2rem;

    border: none;
    background-color: var(--contrastyellow);
    border-radius: 0.2rem;

    color: var(--black);
    font-weight: bold;
    font-size: 1.2rem;
}
#link-page-form-btn-contrast:hover {
    border: 0.2rem solid var(--contrastyellow);

    font-size: 1.4rem;
}