.link-page-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* form */
.link-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--white);
    box-shadow: 0.6rem 0.6rem 0.3rem var(--lightgrey);
    border-radius: 0.5rem;
    width: 35rem;
    height: 40rem;

    font-size: 2rem;
    color: var(--black);
    font-weight: normal;

    margin-top: 6rem;
    margin-bottom: 6rem;
}

.link-page-form-contrast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--contrastyellow);
    box-shadow: 0.6rem 0.6rem 0.3rem var(--contrastlightyellow);
    border-radius: 0.5rem;
    width: 35rem;
    height: 40rem;

    font-size: 2rem;
    color: var(--black);
    font-weight: normal;

    margin-top: 6rem;
    margin-bottom: 6rem;
}

/* form content selection: including only input/select fields */
.link-page-form-content {
    display: flex;
    flex-direction: column;

    margin-bottom: 5rem;
    margin-top: 2rem;
}

.link-page-form-content p {
    font-size: 1rem;
}

.link-page-form-content label {
    margin-bottom: 1.5rem;
}

/* email input */
.link-page-form-input-email {
    width: 25rem;
    height: 3rem;

    border: none;
    border-bottom: 0.2rem solid var(--black);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-shadow: 0.6rem 0.6rem 0.3rem var(--lightgrey);

    font-size: 1.5rem;

    margin-bottom: 2rem;
}

.link-page-form-input-email:focus {
    border: none;
    text-decoration: none;
    box-shadow: none;
}

.link-page-form-input-email-contrast {
    width: 25rem;
    height: 3rem;

    border: none;
    border-bottom: 0.2rem solid var(--black);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-shadow: 0.6rem 0.6rem 0.3rem var(--contrastlightyellow);

    font-size: 1.5rem;

    margin-bottom: 2rem;
}

/* select menu fields */
.select-menu {
    width: 15rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* form button */
#link-page-form-btn {
    width: 100%;
    height: 4rem;

    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--orange);

    font-size: 1.5rem;
    color: var(--white);    
}

#participantName {
    width: 25rem;
    height: 3rem;

    border: none;
    border-bottom: 0.2rem solid var(--black);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-shadow: 0.6rem 0.6rem 0.3rem var(--lightgrey);

    font-size: 1.5rem;

    margin-bottom: 2rem;
}
#participantName:focus {
    border: none;
    text-decoration: none;
    box-shadow: none;
    color: var(--white);
}

#link-page-form-btn-contrast {
    width: 100%;
    height: 4rem;

    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--black);

    font-size: 1.5rem;
    color: var(--contrastyellow);
}

/* image */
#we-help-people-image {
    width: 100%;
}

.link-page-form-content-p {
    font-size: 1rem; 
}