.work-mot-test-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 6%;
}
.work-mot-test-content-container-contrast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 6%;

    background-color: var(--black);
}

/* title */
.work-mot-test-content-title-contrast {
    color: var(--contrastyellow);
}

/* questions */
.work-mot-test-content-question {
    font-size: 2.5rem;
}
.work-mot-test-content-question-contrast {
    font-size: 2.5rem;
    color: var(--contrastyellow);
}


/* test scale */
.work-mot-test-scale {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* scale texts */
.work-mot-test-scale-text {
    font-size: 1.5rem;

    max-width: 7rem;
}
.work-mot-test-scale-text-contrast {
    font-size: 1.5rem;
    color: var(--contrastyellow);
    
    max-width: 7rem;
}

/* test scale buttons */
.work-mot-test-scale-btn {
    height: 4rem;
    width: 4rem;

    margin: 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--black);

    font-size: 2rem;
    font-weight: bold;

    background-color: var(--white);
}
.work-mot-test-scale-btn:hover {
    background-color: var(--green);
}
.work-mot-test-scale-btn:focus {
    background-color: var(--green);
}

.work-mot-test-scale-btn-contrast {
    height: 4rem;
    width: 4rem;

    margin: 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--black);

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);

    background-color: var(--contrastyellow);
}
.work-mot-test-scale-btn-contrast:hover {
    border: 0.6rem solid var(--contrastyellow)
}

/* test buttons outside of scale */
.work-mot-test-content-btn {
    align-self: flex-end;
    margin-right: 21rem;
    margin-top: 2rem;
    background-color: var(--white);

    border: 0.2rem solid var(--black);

    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}
.work-mot-test-content-btn:hover {
    background-color: var(--green);
}
.work-mot-test-content-btn:focus {
    background-color: var(--green);
}
.work-mot-test-content-btn-contrast {
    align-self: flex-end;
    margin-right: 21rem;
    margin-top: 2rem;
    background-color: var(--contrastyellow);

    border: 0.2rem solid var(--black);

    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    color: var(--black);
}
.work-mot-test-content-btn-contrast:hover {
    border: 0.6rem solid var(--contrastyellow);
    font-size: 1.4rem;
}

/* speech recognition value */
.speech-rec-value {
    color: var(--red);
}
.speech-rec-value-contrast {
    color: var(--contrastyellow)
}