.work-mot-test-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* test scale */
.work-mot-test-scale {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* teste scale buttons */
.work-mot-test-scale-btn {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
}