body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: bold;
  font-size: normal;
  letter-spacing: 0.063rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mainblue: rgb(0, 104, 255);
  --lightblue: #2ea3f2;
  --white: #fff;
  --red: #ff5000;
  --black: rgb(0,0,0);
  --lightgrey: #ECECEC;
  --orange: #FF9700;

  /* contrast colors*/
  --contrastyellow: #ffff00;
  --contrastlightyellow: #fffd8d;
}
