.header-container {
    display: flex;
    flex-direction: row;
}

a:-webkit-any-link {
    text-decoration: none;
    color: var(--mainblue);
}
a:-webkit-any-link:visited {
    color: var(--mainblue);
}