.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 6rem;

    background-color: var(--white);
}
.header-content {
    display: flex;
    flex-direction: row;

    font-size: 1rem;
}

a {
    color: var(--mainblue);
    text-decoration: none;
}
a:visited {
    color: var(--mainblue);
}
a:hover {
    color: var(--red);
}


#salva-logo {
    width: 3.5rem;
    height: 3.5rem;

    margin-left: 5rem;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    position: absolute;
    overflow: hidden;
    margin-top: 2rem;
    background-color: var(--white);

    width: 16rem;
    height: 8rem;

    border-top: 0.2rem solid var(--lightblue);
}
.sub-menu a {
    color: var(--black);
    opacity: 0.6;
}

#together-img {
    width: 100%;
    height: 33.5rem;
}